doctype html
html(lang ="ru-RU")
    head
        title Hello world
        link(rel='stylesheet', type='text/css', href='static/css/style.css')
    body
        p Hello world!
        p Hello world!
        h1 Valik