.sec404{
  display: flex;
  min-height: 100vh;
  position: relative;
}
.sec404 >div{
  position: relative;
}
.promo_text{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.promo_text h1{
  font-weight: 800;
  font-size: 10em;
  color: #6231D6;
  line-height: 1em;
}
.promo_text h5{
  font-weight: 600;
  line-height: 40px;
  font-size: 1.5em;
  margin-bottom: 100px;
  color: #535366;
}
.promo_text a{
  padding: 8px 45px;
  border: 3px solid #353742;
  border-radius: 25px;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 40px;
  color: #353742;
}
.promoContent_img{
  background-image: url(../img/bg404.svg);
  background-size: cover;

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promoContent_img img{
  max-width: 60%;
}
@media all and (max-width: 1200px) {
  .promoContent_img{
    display: none;
  }
  .promo_text{
    width: 100%;
  }
}

